<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
        <server>
            <id>dmastrop-vprofile-codeartifact-maven-repo-project9</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>
<profiles>
  <profile>
    <id>default</id>
    <repositories>
      <repository>
        <id>dmastrop-vprofile-codeartifact-maven-repo-project9</id>
    <url>https://dmastrop-725291656587.d.codeartifact.us-east-1.amazonaws.com/maven/vprofile-codeartifact-maven-repo-project9/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
<activeProfiles>
        <activeProfile>default</activeProfile>
    </activeProfiles>
<mirrors>
  <mirror>
    <id>dmastrop-vprofile-codeartifact-maven-repo-project9</id>
    <name>domainname--maven-central-store</name>
    <url>https://dmastrop-725291656587.d.codeartifact.us-east-1.amazonaws.com/maven/vprofile-codeartifact-maven-repo-project9/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>
</settings>